.shout-box-wrapper {
	position: absolute;
	display: inline-block; 
	width: 150px;
	z-index: 1000;
}

.shout-box {
  padding: 10px;
	position: absolute;
	color: $white;
  letter-spacing: 1px;
  left: 0;
	bottom: 10px;
	z-index: 1000;
  background: rgba(darken($blue-light, 50%),0.8);
	@include border-radius(10px);
} 

.shout-box:after {
   content:' ';
   display:block;
   position:absolute;
   top:100%;
   left:10px;
   width:0;
   z-index: 1000;
   border-width:10px 10px 0;
   border-style:solid;
   border-color: rgba(darken($blue-light, 50%),0.8) transparent;
}

.shout {
	font-family: sans-serif;
  font-style: 30px;
}

.icon-shout-pin {
    font-size: 30px;
    color: $red;
    position: absolute;
    -webkit-text-stroke: 1px darken($red, 80%);
}

.icon-shout-pin:before {
    content: ',';
    color: rgba($black, 0.7);
    position:absolute;
    margin: 3px 0 0 8px;
    display: inline-block;
    @include rotate(48deg);
    -webkit-text-stroke: 0px $black;
}

.my-icon-shout-pin {
    font-size: 30px;
    color: $blue-dark;
    position: absolute;
    -webkit-text-stroke: 1px darken($red, 80%);
}

.my-icon-shout-pin:before {
    content: ',';
    color: rgba($black, 0.7);
    position:absolute;
    margin: 3px 0 0 8px;
    display: inline-block;
    @include rotate(48deg);
    -webkit-text-stroke: 0px $black;
}