.shout-box-wrapper {
	position: absolute;
	display: inline-block; 
	width: 150px;
	z-index: 1000;
}

.shout-box {
  padding: 10px;
	position: absolute;
	color: $white;
  letter-spacing: 1px;
  left: 0;
	bottom: 10px;
	z-index: 1000;
  background: rgba(darken($blue-light, 50%),0.8);
	@include border-radius(10px);
} 

.shout-box:after {
   content:' ';
   display:block;
   position:absolute;
   top:100%;
   left:10px;
   width:0;
   z-index: 1000;
   border-width:10px 10px 0;
   border-style:solid;
   border-color: rgba(darken($blue-light, 50%),0.8) transparent;
}

.shout-box-happy {
  @extend .shout-box;
  background: rgba($happy, 0.8);
}

.shout-box-sad:after {
  @extend .shout-box:after ;
   border-color: rgba($sad, 0.8) transparent;
}

.shout-box-happy:after {
  @extend .shout-box:after ;
   border-color: rgba($happy, 0.8) transparent;
}

.shout-box-neutral {
  @extend .shout-box;
}
.shout-box-sad {
  @extend .shout-box;
  background: blue;
  background: rgba($sad, 0.8); 
}

.shout {
	font-family: sans-serif;
  font-style: 30px;
}