* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

$tan:           #D4C87D;
$blue-light:    #A7E1E2;
$blue-dark:     #112132;
$red:           #E95846;
$black:         #030508;
$white:         #FFF;

@font-face {
    font-family: 'HVD';
    src: url('fonts/HVD/HVD_Comic_Serif_Pro-webfont.eot');
    src: url('fonts/HVD/HVD_Comic_Serif_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HVD/HVD_Comic_Serif_Pro-webfont.woff') format('woff'),
         url('fonts/HVD/HVD_Comic_Serif_Pro-webfont.ttf') format('truetype'),
         url('fonts/HVD/HVD_Comic_Serif_Pro-webfont.svg#HVDComicSerifProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icon';
    src: url('fonts/icons/modernpics-webfont.eot');
    src: url('fonts/icons/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/icons/modernpics-webfont.woff') format('woff'),
         url('fonts/icons/modernpics-webfont.ttf') format('truetype'),
         url('fonts/icons/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon { 
    font-family: icon;
    font-family: 'icon';
    font-size: 50px;
    display: inline-block;
}


.icon-pin {
    font-size: 70px;
    letter-spacing: 5px;    
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    @include rotate(20deg);
}

.icon-submit {
    font-size: 40px;
    color: rgba($white, 0.5);
    background: rgba(darken($blue-light, 50%),0.5);
    padding-right: 10px;
    border: 1px solid rgba($blue-dark,0.5);
    @include border-radius(10px);
    @include box-shadow(rgba($blue-dark,0.5) 0px 3px 0); 
    @include transition(all 0.3s);
}


.icon-submit:hover {
    color: rgba($white, 0.9);
/*    background: rgba(darken($blue-light, 50%),1);
*/    padding-right: 10px;
    cursor: pointer;
    border: 1px solid rgba($blue-dark,0.5);
    @include border-radius(10px);
}


.emotion {
    display: inline-block;
    padding: 0 4px;
    font: 16px/16px normal Verdana, sans-serif;
    @include rotate(90deg);
}


















